@model BlogFilipe.web.Models.Blog.DetalhesPostViewModel
@{
    ViewBag.Title = "Post";
}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/Views/Blog/Index.js")"></script>
}

<h2>@Model.Titulo</h2>

<div class="div-imagem icone-calendario"></div>
@Model.DataPublicacao.ToString("dd/MM/yyyy HH:mm")

<div class="div-imagem icone-autor"></div>
@Model.Autor

<div class="div-imagem icone-comentario"></div>
<a href="@Url.Action("Post", "Blog", new{ id = Model.Id,
                                          ano = Model.DataPublicacao.Year,
                                          mes = Model.DataPublicacao.Month,
                                          dia = Model.DataPublicacao.Day,
                                          titulo = Model.Titulo })#comentarios">@Model.QtdeComentarios</a>

@if (Request.IsAuthenticated)
{
    <div class="div-imagem icone-excluir"></div>
    @Html.ActionLink("Excluir", "ExcluirPost", "Administracao", new { id = Model.Id }, new { @class = "excluir-post" })
}

<div>
    @Model.Descricao
</div>

<h3>Tags</h3>

<div>
    <ul class="div-lista">
        @if (Model.Tags != null)
        {
            foreach (var item in Model.Tags)
            {
                <li>
                    @Html.ActionLink(item, "Index", "Blog", new { tag = item }, null)                   
                </li>
            }
        }
    </ul>
</div>

<div id="comentarios">
    <h3>Novo comentário</h3>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(x => x.Id)
        <div class="form-group">
            @Html.LabelFor(m => m.ComentarioNome)
            @Html.TextBoxFor(m => m.ComentarioNome, new { @class = "form-control"})
            @Html.ValidationMessageFor(m => m.ComentarioNome)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ComentarioEmail)
            @Html.TextBoxFor(m => m.ComentarioEmail, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ComentarioEmail)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ComentarioPaginaWeb)
            @Html.TextBoxFor(m => m.ComentarioPaginaWeb, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ComentarioPaginaWeb)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ComentarioDescricao)
            @Html.TextAreaFor(m => m.ComentarioDescricao, new { rows = 8, @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ComentarioDescricao)
        </div>
        <p>
            <input type="submit" value="Salvar" class="btn btn-primary"/>
        </p>
    }
    <div>
        <h3>Comentários</h3>
        @{
            var contador = 0;
        }
        @foreach (var item in Model.Comentarios)
        {
            contador++;
            string id = "comentario" + contador.ToString();
            string cssClass = "text-info";
            if (item.AdmPost)
            {
                cssClass = "label label-info";
            }
            <div>
                <a id="@item.Id"></a>
                <p>
                    <span class="@cssClass">@item.Nome</span><br />
                    <small>
                        @item.DataHora.ToString("dd/MM/yyyy HH:mm:ss")
                        @if (!string.IsNullOrEmpty(item.PaginaWeb))
                        {
                            <text>|</text>
                            <a href="@item.PaginaWeb">@item.PaginaWeb</a>
                        }
                        @if (this.Request.IsAuthenticated)
                        {
                            <text>|</text>
                            @Html.ActionLink("Remover", "ExcluirComentario", "Administracao", new { id = item.Id }, new { @class = "excluir-comentario" })
                        }
                    </small>
                </p>
                @Html.Raw(Html.Encode(item.Descricao).Replace("\n", "<br />"))
            </div>

            if (contador < this.Model.Comentarios.Count)
            {
                <hr />
            }
        }
    </div>
    @Html.Partial("_PaginacaoPost", Model)
</div>